

.MyHeader{
			width:1200px;
			height:180px;
			background-color:#761e62;
			color:#f1e1ee;
			padding:50px;
			text-align:center;
			text-shadow: 3px 2px purple;
			margin-bottom:50px;
			background-image:url(../images/hometitle.png);
			background-repeat:no-repeat;
			background-size:cover;
			background-position:center center;
			font-size:250px;
			font-family: 'Courgette', cursive;
			}